In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
p = './cleveland.mod.csv'
dsa2=pd.read_csv(p)
dsa2.head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Num
0,63,male,angina,145,233,True,hyp,150,False,2.3,down,0,fix,buff
1,67,male,asympt,160,286,False,hyp,108,True,1.5,flat,3,norm,sick
2,67,male,asympt,120,229,False,hyp,129,True,2.6,flat,2,rev,sick
3,37,male,notang,130,250,False,norm,187,False,3.5,down,0,norm,buff
4,41,fem,abnang,130,204,False,hyp,172,False,1.4,up,0,norm,buff

In [3]:
dsa2.shape

(303, 14)

In [4]:
 def d(dataframe):
    X=dataframe.values[:,0:13]
    y=dataframe.values[:,-1]
    X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=None)
    
    tree_model = DecisionTreeClassifier(max_depth=5,criterion='entropy')
    cv_scores = cross_val_score(tree_model, X, y, cv=10, scoring='accuracy')
    m=tree_model.fit(X, y)
    prediction=m.predict(X_test)
    cm= confusion_matrix(y_test,prediction)
    sns.heatmap(cm, annot=True,cmap='winter',linewidths=0.2, linecolor='black',annot_kws={"size": 20})
    print(classification_report(y_test, prediction))
    TP=cm[0][0]
    TN=cm[1][1]
    FN=cm[1][0]
    FP=cm[0][1]
    print('Testing Accuracy for Decision Tree:',(TP+TN)/(TP+TN+FN+FP))
    print('Testing Sensitivity for Decision Tree:',(TP/(TP+FN)))
    print('Testing Specificity for Decision Tree:',(TN/(TN+FP)))
    print('Testing Precision for Decision Tree:',(TP/(TP+FP)))

# change the value of 3 colum,convert string boolean to int boolean

In [5]:

print(dsa2['Sex'].unique()) 
print(dsa2['fbs'].unique()) 
print(dsa2['exang'].unique())

['male' 'fem']
[ True False]
[False  True]

In [7]:

dsa2['Sex'].value_counts() 
dsa2['fbs'].value_counts() 
dsa2['exang'].value_counts()

False    204
True      99
Name: exang, dtype: int64

In [8]:
one_hot_encoded_data = pd.get_dummies(dsa2, columns = ['Sex', 'fbs','exang']) 
print(one_hot_encoded_data)

     Age      cp  trestbps  chol restecg  thalach  oldpeak slope ca  thal  \
0     63  angina       145   233     hyp      150      2.3  down  0   fix
1     67  asympt       160   286     hyp      108      1.5  flat  3  norm
2     67  asympt       120   229     hyp      129      2.6  flat  2   rev
3     37  notang       130   250    norm      187      3.5  down  0  norm
4     41  abnang       130   204     hyp      172      1.4    up  0  norm
..   ...     ...       ...   ...     ...      ...      ...   ... ..   ...
298   48  notang       124   255    norm      175      0.0    up  2  norm
299   57  asympt       132   207    norm      168      0.0    up  0   rev
300   49  notang       118   149     hyp      126      0.8    up  3  norm
301   74  abnang       120   269     hyp      121      0.2    up  1  norm
302   54  notang       160   201    norm      163      0.0    up  1  norm

      Num  Sex_fem  Sex_male  fbs_False  fbs_True  exang_False  exang_True
0    buff        0         1          0         1            1           0
1    sick        0         1          1         0            0           1
2    sick        0         1          1         0            0           1
3    buff        0         1          1         0            1           0
4    buff        1         0          1         0            1           0
..    ...      ...       ...        ...       ...          ...         ...
298  buff        0         1          0         1            1           0
299  buff        0         1          1         0            0           1
300  sick        0         1          1         0            1           0
301  buff        1         0          1         0            0           1
302  buff        1         0          1         0            1           0

[303 rows x 17 columns]

In [9]:
p = './cleveland.mod.csv'
dsa2=pd.read_csv(p)
dsa2.head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Num
0,63,male,angina,145,233,True,hyp,150,False,2.3,down,0,fix,buff
1,67,male,asympt,160,286,False,hyp,108,True,1.5,flat,3,norm,sick
2,67,male,asympt,120,229,False,hyp,129,True,2.6,flat,2,rev,sick
3,37,male,notang,130,250,False,norm,187,False,3.5,down,0,norm,buff
4,41,fem,abnang,130,204,False,hyp,172,False,1.4,up,0,norm,buff

In [10]:
one_hot_encoded_data.head()

,Age,cp,trestbps,chol,restecg,thalach,oldpeak,slope,ca,thal,Num,Sex_fem,Sex_male,fbs_False,fbs_True,exang_False,exang_True
0,63,angina,145,233,hyp,150,2.3,down,0,fix,buff,0,1,0,1,1,0
1,67,asympt,160,286,hyp,108,1.5,flat,3,norm,sick,0,1,1,0,0,1
2,67,asympt,120,229,hyp,129,2.6,flat,2,rev,sick,0,1,1,0,0,1
3,37,notang,130,250,norm,187,3.5,down,0,norm,buff,0,1,1,0,1,0
4,41,abnang,130,204,hyp,172,1.4,up,0,norm,buff,1,0,1,0,1,0

# -----change the column name---

In [ ]:
one_hot_encoded_data.rename(columns={"sex_fem": "sex"}, inplace=True)

student_df_1